<html>
  <head>
    <title>CKD Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />
  </head>
  <body>
    
      <div class="heading">
        <center>
          <h1 id="heading1">
            Early detection of Chronic Kidney Disease using Machine Learning
          </h1>
          
        </center>
        
      </div>
      <div class="button">
        <button id="btn"><a id="predict_link"  href="/prediction">Predict</a></button>
      
      </div>
      
      

      <br />
      
      <center>
        <div class="content">
          <ul>
            <li>
              <p class="p1">
                Chronic Kidney Disease prediction is one of the most important
                issues in healthcare analytics. The most interesting and
                challenging tasks in day-to-day life is prediction in medical
                ﬁeld
              </p>
            </li>
            <br />

            <li>
              <p>
                10% of the population worldwide is affected by chronic kidney
                disease (CKD), and millions die each year because they do not
                have access to affordable treatment.
              </p>
            </li>
            <br />
            <li>
              <p>
                Chronic kidney Disease can be cured, if treated in the early
                stages. The main aim of this project is to predict whether the
                patient have chronic kidney disease or not, in more accurate and
                faster way based on certain diagnostic measurements like Blood
                Pressure (Bp), Albumin(Al)
              </p>
            </li>
            <br />
          </ul>
        </div>
      </center><br><br>
      <div class="team_member">
        <p><h2>Team Members:</h2></p>
        <ul>
          <li>Poovarasu T</li>
          <li>Monish V S</li>
          <li>Tirumal T N</li>
          <li>Kavin Kumar R</li>
        </ul>



      </div>
    
  </body>
</html>
