<html>
  <head>
    <title>CKD Prediction</title>
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" />
  </head>
  <body class="body">
    <div class="anchor">
      <div class="anchor-content">
        <button class="anchor1" ><a id="home_link"  href="/home">Home</a></button>&nbsp&nbsp&nbsp&nbsp
        <button class="anchor2"><a id="predict_link"  href="/prediction">Predict</a></button>
      </div>
    </div>
    <br />
    <div class="heading">
      <center>
        <h1 class="heading1"><i>CHRONIC KIDNEY DISEASE PREDICTION</i></h1>
      </center>
    </div>
  </body>
</html>
