<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/team.css')}}">
	<title>CHRONIC KIDNEY DISEASE PREDICTION USING MACHINE LEARNING</title>
</head>
<body>
	<center>
	<div class="team-members">
		<h1><center>TEAM MEMBERS:</center></h1>
		<ul>
			<li><b>TIRUMAL T N </b></li>
			<li><b>POOVARASU T</b></li>
			<li><b>MONISH V S</b></li>
			<li><b>KAVIN KUMAR R</b></li>
		</ul>
	</div></center>

	<div id="content">
			
	</div>

</body>
</html>